# Build artifacts
**/build/
**/[Bb]in/
**/[Oo]bj/

# VS-specific
**/.vs/
*.user
*.suo
*.sln.docstates

# MAUI build outputs
*.apk
*.aab
*.app
*.xcarchive
*.ipa
*.dSYM
*.dll.mui
*.dll.config
*.exe.config
*.dll
*.exe

# Intermediate platform builds
**/platforms/**/build/
**/platforms/**/bin/
**/platforms/**/obj/

# macOS / Windows / Linux OS cruft
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Tizen
**/.project/
**/.metadata/
tizen-workspace.xml

# Logs
*.log